---
http_interactions:
- request:
    method: propfind
    uri: https://demo12.nextcloud.bayton.org/remote.php/dav/files/admin/notexistingdirectory
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
                <d:propfind
                  xmlns:d="DAV:"
                  xmlns:oc="http://owncloud.org/ns"
                  xmlns:nc="http://nextcloud.org/ns">
                  <d:prop>
                    <oc:fileid />
                  </d:prop>
                </d:propfind>
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
          <s:exception>Sabre\DAV\Exception\NotFound</s:exception>
          <s:message>File with name //notexistingdirectory could not be located</s:message>
        </d:error>
  recorded_at: Thu, 07 Sep 2017 08:39:59 GMT
recorded_with: VCR 3.0.3
