---
http_interactions:
- request:
    method: propfind
    uri: https://demo12.nextcloud.bayton.org/remote.php/dav/systemtags/2
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
                <d:propfind
                xmlns:d="DAV:"
                xmlns:oc="http://owncloud.org/ns"
                xmlns:nc="http://nextcloud.org/ns">
                  <d:prop>
                    <oc:display-name />
                    <oc:id />
                  </d:prop>
                </d:propfind>
    headers: {}
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:cal="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:card="urn:ietf:params:xml:ns:carddav" xmlns:oc="http://owncloud.org/ns" xmlns:nc="http://nextcloud.org/ns"><d:response><d:href>/remote.php/dav/systemtags/2</d:href><d:propstat><d:prop><oc:display-name>test</oc:display-name><oc:id>2</oc:id></d:prop><d:status>HTTP/1.1 200 OK</d:status></d:propstat></d:response></d:multistatus>
  recorded_at: Thu, 07 Sep 2017 08:40:01 GMT
recorded_with: VCR 3.0.3
